{% extends 'layout.html' %}

{% block content %}

{% if nothing %}
<h1 style="text-align: center;">Пока постов нет</h1>
{% else %}
    {% for post in posts.items %}
    <div class="post">
        <img src="{{ url_for('static', filename='profile_pics/' + post.author.username + '/' + post.author.image_file) }}"
             alt="" class="mr-3 mt-3 rounded-circle" style="width:40px;">
        <a class="mr-2" href="{{ url_for('user.user_posts', username=post.author.username) }}">
            {{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y-%H') }}</small>

        <h2><a class="article-title" href="{{ url_for('post.post', post_id=post.id) }}">{{ post.title }}</a></h2>

        <p class="article-content">{{ post.content }}</p>
        <img src="{{ post.image_post }}" alt="">
    </div>
    {% endfor %}

<div class="post_paginate">

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
        {% if page_num %}
            {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('main.blog', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-outline-success mb-4" href="{{ url_for('main.blog', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
    {% endif %}
    {% endfor %}
</div>
    {% endif %}

</div>

{% endblock %}
