{% extends 'layout.html' %}

{% block content %}

<div class="empty_block"></div>
<div class="empty_block"></div>

<div class="login_form">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
            <legend class="legend">{{ legend }}</legend>

            <div class="form-group">
                {% if form.email.errors %}
                {{ form.email(class='is-invalid', placeholder='Емайл') }}
                <div class="invalid-feedback"></div>
            </div>
    </form>
</div>

{% endblock %}



































