{% extends 'layout.html' %}

{% block content %}
<center>
    <div class="post">
        <img src="{{ url_for('static', filename='profile_pics/' + post.author.username + '/' + post.author.image_file) }}"
             alt="" class="mr-3 mt-3 rounded-circle" style="height: 90px; width: 100px;">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">
            {{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y-%H') }}</small>



        <h2 class="article-title"> {{ post.title }}</h2>
        <p class="article-content">{{ post.context }}</p>
        <img src="{{ image_file }}" alt="post_img">



</center>

{% endblock content %}